@model QLTV.Models.sotientranxb
@{
    ViewBag.Title = "Index";
}

<h2>Số tiền sẽ trả cho nhà xuất bản</h2>
@using (Html.BeginForm("Index", "sotientranxb", FormMethod.Get))
{
    <div class="form-inline">
        @Html.Label("Nhà xuất bản")
        <div class="form-group">
            @Html.DropDownList("MANXB", null, htmlAttributes: new { @class = "form-control", @id = "item" })
        </div>
        @Html.Label("Ngày ")
        <div class="form-group input-group-sm">
            @Html.TextBox("ngay", null, new { @class = "form-control datepicker", placeholder = "Chọn ngày", autocomplete = "off", type = "date" })
        </div>
        <div class="form-group">
            <div class="form-group" style="padding-left:3%">
                <input type="submit" value="Tìm kiếm" class="btn btn-default" />
            </div>
        </div>



        </div>
}
<table class="table">
    <tr>
        <th>@Html.DisplayName("Ngày")</th>
        <th>
            @Html.DisplayName("Tên nhà xuất bản")
        </th>
        <th>
            @Html.DisplayName("Số tiền nợ")
        </th>
    </tr>
    @foreach (var item in Model.nxb)
    {
        <tr>
            <td>@Html.DisplayFor(o => o.dt)</td>
            <td>
                @Html.DisplayFor(modelItem => item.TENNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOTIENNO)
            </td>
        </tr>
    }
</table>
