@model QLTV.Models.PHIEUTRATIEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sách đã bán</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Ngày")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY)
        </dd>

        <dt>
            @Html.DisplayName("Số tiền")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOTIENNO)
        </dd>    
        <dt>
            @Html.DisplayName("Tên đại lý")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAILY.TENDL)
        </dd>
    </dl>
</div>
<table class="table" id="chitiet">
    <tr>
        <td>Tên sách</td>
        <td>Số lượng</td>
        <td>Tổng tiền</td>
        <td></td>
    </tr>
    @if (Model.CTPTTs != null)
    {
        foreach (var item in Model.CTPTTs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SACH.TENS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SOLUONGN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TONG)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MATK })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            Không có chi tiết
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
