@model IEnumerable<QLTV.Models.PHIEUTRATIEN>

@{
    ViewBag.Title = "Số sách bán được";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Ngày")
        </th>
        <th>
            @Html.DisplayName("Số tiền")
        </th>
        <th>
            @Html.DisplayName("Trạng thái")
        </th>
        <th>
            @Html.DisplayName("Tên đại lý")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOTIENNO)
        </td>
        <td>
            @if (item.TRANGTHAI == 0)
            {
                @Html.DisplayName("Chưa thanh toán")
            }
            else
            {
            @Html.DisplayName("Đã thanh toán")
            }           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAILY.TENDL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MATK }) |
            @Html.ActionLink("Details", "Details", new { id=item.MATK }) |
            @Html.ActionLink("Thanh toán", "thanhtoan", new { id = item.MATK }) 
        </td>
    </tr>
}

</table>
