@model IEnumerable<QLTV.Models.DOANHTHU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Ngày trả tiền")
        </th>
        <th>
            @Html.DisplayName("Số tiền trả")
        </th>
        <th>
            @Html.DisplayName("Tên nhà xuất bản")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOTIENNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NXB.TENNXB)
        </td>
    </tr>
}

</table>
