@model IEnumerable<QLTV.Models.DOANHTHU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NGAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOTIENNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOANHTHU1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHIEUTRATIEN.MADL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOTIENNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOANHTHU1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHIEUTRATIEN.MADL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MADT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MADT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MADT })
        </td>
    </tr>
}

</table>
