@model QLTV.Models.PHIEUXUATSACH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PHIEUXUATSACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Người lập phiếu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUOINS)
        </dd>

        <dt>
            @Html.DisplayName("Ngày xuất")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYXUAT)
        </dd>

        <dt>
            @Html.DisplayName("Tổng tiền")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANHTIEN)
        </dd>

        <dt>
            @Html.DisplayName("Đại lý")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAILY.TENDL)
        </dd>

    </dl>
</div>
<table class="table" id="chitiet">
    <tr>
        <td>Tên sách</td>
        <td>Số lượng</td>
        <td>Tổng tiền</td>
        <td></td>
    </tr>
    @if (Model.CTPXS != null)
    {
        foreach (var item in Model.CTPXS)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SACH.TENS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SOLUONGN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TONG)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MAPXS })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            Không có chi tiết
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAPXS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
