@model QLTV.Models.TKTK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TKTK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLTON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLTON)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAKHO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
